@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/pros';
@import 'blocks/consult';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalogue';
@import 'media.scss';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container { 
    max-width: 950px;
    margin: 0 auto;
}
